<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.travis.aerospace-alfred</string>
	<key>connections</key>
	<dict>
		<key>53A21105-D943-4ECF-B0C3-08E59EC5F01F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C57C784-36D3-4D28-9C15-18F4F38F3B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72FA3CF2-0EB7-400A-BBFF-2B59583BCD7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C57C784-36D3-4D28-9C15-18F4F38F3B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8C995D1-5B3A-4FF5-A3EE-E3D0650EB829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C57C784-36D3-4D28-9C15-18F4F38F3B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>716FB221-112C-4515-AEF4-327C9779477D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>656C7E16-BFEE-48CC-B45B-4D911E25271D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6E714B5-C77F-4E14-B7BA-D70194C87050</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E525FB03-3975-4C69-A58E-8AFC1681FC12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8EB08C6-0B53-4CC3-ADD9-135F10DFEFA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B04D51D-052C-4B16-8CED-5DB43B364694</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF9C5580-5ACC-42E1-957D-7777D566F1B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C57C784-36D3-4D28-9C15-18F4F38F3B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Travis Pew</string>
	<key>description</key>
	<string>Alfred workflow for AeroSpace shortcuts and window switching.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AeroSpace</string>
	<key>version</key>
	<string>1.0.1</string>
	<key>versioninfo</key>
	<string>Add unbound command actions and simplify mode-main shortcut labels.</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:KEYWORD_SHORTCUTS}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/shortcuts.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search your shortcuts</string>
				<key>title</key>
				<string>AeroSpace Shortcuts</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8EB08C6-0B53-4CC3-ADD9-135F10DFEFA7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/execute_shortcut.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B04D51D-052C-4B16-8CED-5DB43B364694</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:KEYWORD_CONFIG}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/config.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open AeroSpace config</string>
				<key>title</key>
				<string>AeroSpace Config</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D6E714B5-C77F-4E14-B7BA-D70194C87050</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/open_target.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E525FB03-3975-4C69-A58E-8AFC1681FC12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:KEYWORD_WINDOWS}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/windows.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search focused workspace</string>
				<key>title</key>
				<string>AeroSpace Windows (default)</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72FA3CF2-0EB7-400A-BBFF-2B59583BCD7C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/focus_window.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C57C784-36D3-4D28-9C15-18F4F38F3B89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:KEYWORD_WINDOWS_ALL}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/windows_all.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search all workspaces</string>
				<key>title</key>
				<string>AeroSpace Windows (all)</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C8C995D1-5B3A-4FF5-A3EE-E3D0650EB829</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:KEYWORD_WINDOWS_FOCUSED}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/windows_focused.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search focused workspace</string>
				<key>title</key>
				<string>AeroSpace Windows (focused)</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
		<key>uid</key>
		<string>53A21105-D943-4ECF-B0C3-08E59EC5F01F</string>
		<key>version</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>concurrently</key>
			<false/>
			<key>escaping</key>
			<integer>0</integer>
			<key>script</key>
			<string></string>
			<key>scriptargtype</key>
			<integer>1</integer>
			<key>scriptfile</key>
			<string>scripts/set_layout.py</string>
			<key>type</key>
			<integer>8</integer>
		</dict>
		<key>type</key>
		<string>alfred.workflow.action.script</string>
		<key>uid</key>
		<string>656C7E16-BFEE-48CC-B45B-4D911E25271D</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>alfredfiltersresults</key>
			<false/>
			<key>alfredfiltersresultsmatchmode</key>
			<integer>0</integer>
			<key>argumenttreatemptyqueryasnil</key>
			<true/>
			<key>argumenttrimmode</key>
			<integer>0</integer>
			<key>argumenttype</key>
			<integer>1</integer>
			<key>escaping</key>
			<integer>0</integer>
			<key>keyword</key>
			<string>{var:KEYWORD_FOCUSED}</string>
			<key>queuedelaycustom</key>
			<integer>3</integer>
			<key>queuedelayimmediatelyinitially</key>
			<true/>
			<key>queuedelaymode</key>
			<integer>0</integer>
			<key>queuemode</key>
			<integer>1</integer>
			<key>runningsubtext</key>
			<string>loading</string>
			<key>script</key>
			<string></string>
			<key>scriptargtype</key>
			<integer>1</integer>
			<key>scriptfile</key>
			<string>scripts/focused_window.py</string>
			<key>skipuniversalaction</key>
			<true/>
			<key>subtext</key>
			<string>Focused window details</string>
			<key>title</key>
			<string>AeroSpace Focused Window</string>
			<key>type</key>
			<integer>8</integer>
			<key>withspace</key>
			<true/>
		</dict>
		<key>type</key>
		<string>alfred.workflow.input.scriptfilter</string>
		<key>uid</key>
		<string>716FB221-112C-4515-AEF4-327C9779477D</string>
		<key>version</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>alfredfiltersresults</key>
			<false/>
			<key>alfredfiltersresultsmatchmode</key>
			<integer>0</integer>
			<key>argumenttreatemptyqueryasnil</key>
			<true/>
			<key>argumenttrimmode</key>
			<integer>0</integer>
			<key>argumenttype</key>
			<integer>1</integer>
			<key>escaping</key>
			<integer>0</integer>
			<key>keyword</key>
			<string>{var:KEYWORD_WORKSPACES}</string>
			<key>queuedelaycustom</key>
			<integer>3</integer>
			<key>queuedelayimmediatelyinitially</key>
			<true/>
			<key>queuedelaymode</key>
			<integer>0</integer>
			<key>queuemode</key>
			<integer>1</integer>
			<key>runningsubtext</key>
			<string>loading</string>
			<key>script</key>
			<string></string>
			<key>scriptargtype</key>
			<integer>1</integer>
			<key>scriptfile</key>
			<string>scripts/workspace_overview.py</string>
			<key>skipuniversalaction</key>
			<true/>
			<key>subtext</key>
			<string>Workspace overview</string>
			<key>title</key>
			<string>AeroSpace Workspaces</string>
			<key>type</key>
			<integer>8</integer>
			<key>withspace</key>
			<true/>
		</dict>
		<key>type</key>
		<string>alfred.workflow.input.scriptfilter</string>
		<key>uid</key>
		<string>CF9C5580-5ACC-42E1-957D-7777D566F1B2</string>
		<key>version</key>
		<integer>3</integer>
	</dict>
	</array>
	<key>readme</key>
	<string>## AeroSpace Alfred Workflow

### Setup
- Install AeroSpace: https://github.com/nikitabobko/AeroSpace
- Grant Alfred Accessibility permission for shortcut execution

### Usage
- Search and execute shortcuts via the `as` keyword (configurable)

### Default Keywords
- as: shortcuts
- ascfg: config
- asw: windows (default scope)
- asw-all: windows (all)
- asw-focused: windows (focused)
- asws: workspace overview
- asfocused: focused window details

### Configuration
- Default Workspace (focused/all)
- Notifications toggle
- Keywords are configurable in workflow settings</string>
	<key>uidata</key>
	<dict>
		<key>3B04D51D-052C-4B16-8CED-5DB43B364694</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>656C7E16-BFEE-48CC-B45B-4D911E25271D</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>53A21105-D943-4ECF-B0C3-08E59EC5F01F</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>716FB221-112C-4515-AEF4-327C9779477D</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>72FA3CF2-0EB7-400A-BBFF-2B59583BCD7C</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>9C57C784-36D3-4D28-9C15-18F4F38F3B89</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>C8C995D1-5B3A-4FF5-A3EE-E3D0650EB829</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>CF9C5580-5ACC-42E1-957D-7777D566F1B2</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>D6E714B5-C77F-4E14-B7BA-D70194C87050</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>E525FB03-3975-4C69-A58E-8AFC1681FC12</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>E8EB08C6-0B53-4CC3-ADD9-135F10DFEFA7</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>focused</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Focused workspace</string>
						<string>focused</string>
					</array>
					<array>
						<string>All workspaces</string>
						<string>all</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Default scope for asw.</string>
			<key>label</key>
			<string>Default Workspace</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>DEFAULT_WORKSPACE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show a notification after executing a shortcut</string>
			</dict>
			<key>description</key>
			<string>Displays a macOS notification after executing a shortcut.</string>
			<key>label</key>
			<string>Notifications</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ENABLE_NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>as</string>
				<key>placeholder</key>
				<string>as</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for listing AeroSpace shortcuts.</string>
			<key>label</key>
			<string>Shortcuts Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_SHORTCUTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ascfg</string>
				<key>placeholder</key>
				<string>ascfg</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for opening the AeroSpace config.</string>
			<key>label</key>
			<string>Config Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_CONFIG</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>asw</string>
				<key>placeholder</key>
				<string>asw</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for switching windows (default scope).</string>
			<key>label</key>
			<string>Windows Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_WINDOWS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>asw-all</string>
				<key>placeholder</key>
				<string>asw-all</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for switching windows across all workspaces.</string>
			<key>label</key>
			<string>Windows (All) Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_WINDOWS_ALL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>asw-focused</string>
				<key>placeholder</key>
				<string>asw-focused</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for switching windows in the focused workspace.</string>
			<key>label</key>
			<string>Windows (Focused) Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_WINDOWS_FOCUSED</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>asws</string>
				<key>placeholder</key>
				<string>asws</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for the workspace overview.</string>
			<key>label</key>
			<string>Workspaces Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_WORKSPACES</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>asfocused</string>
				<key>placeholder</key>
				<string>asfocused</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for focused window details.</string>
			<key>label</key>
			<string>Focused Window Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_FOCUSED</string>
		</dict>
	</array>
	<key>webaddress</key>
	<string>https://github.com/travisp/alfred-aerospace</string>
</dict>
</plist>
